@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root{
  --background-color: #030303;
  --space-gap: 10px;
  --blue-color: #0AAFC2;
  --gray-color: #777;
  --gray-2: #333;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Rethink Sans", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.container{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}


.left, .right{
  height: 100%; width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.background{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 960/947;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

.left-image{
  height: 150px;
  width: 400px;
}

.right{              
  flex-direction: column;
}


.right-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
}


.right-title{
  width: 100%;
  text-align: left; 
  padding: 0;
  margin: 20px;
  gap: 20px;
}

.title{
  font-size: 30px;
  font-weight: 800;
  color: #f6f7de; 
  letter-spacing: .01em;
  margin: 0;
}

.link-container{
  width: 100%;
}

.link-text{
  color: var(--gray-color);
  border-radius: 8px;
  font-style: italic;
}

.link{
  color: #fff;
  text-underline-offset: 3px;
  font-weight: 600;
}

.link:hover{
  color: #dcd6ff;
  text-decoration: none;
  transition: 450ms all; 
}

.forms{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.inputs{
  outline: none;
  padding: 8px 24px;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


.inputs{
  background: #090909;
  border: 1px solid var( --gray-2);
  color: #fafafa;
}

.inputs:focus{
  border: 1px solid #fff;
}

.inputs::placeholder{ 
  color: var(--gray-2);
}

.password-input-container{
  position: relative;
  display: inline-block;
}

#input-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
  cursor: pointer;
}


.submit-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: linear-gradient(90deg, #009dff,#fc5aff);
  border: none;
  outline: none;
  padding: 8px 24px;
  border-radius: 8px;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  margin: 5px 0;
  transition: 400ms all;
}

.submit-buttons:not(:disabled):hover{
  border-radius: 0;
  cursor: pointer;
}


.footer-login{
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  padding: 20px;
  z-index: 1;
}

.navbar-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links{
  cursor: default;
  padding: 0;
  margin: 0;
}

.icons{
  color: var(--gray-color);
  cursor: pointer;
}

.icons:hover{
  color: #fff;
  transition: 450ms all ease-in-out; 
}

.error-texts{
  color: red;
  text-align: center;
  margin: 0;
  border: 1px solid red;
  padding: 8px 24px;
}


.header{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
  height: 200px;
  margin: 0;
}

.md-logo{
  display: none;
  margin: 0;
}


@media (max-width: 1090px){
   .left, .background{
    display: none;
   } 
   .container{
    grid-template-columns: 1fr;
    place-content: center;
   }
   .footer-login{
    justify-content: center;
   }
}


/* Register form */

#register-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


#header-register{
 display: flex;
 flex-direction: column;
 justify-content: start;
 margin-bottom: 10px;
 gap: 5px;
}



/* Home section */


#home-footer{
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container{
  border-radius: 20px;
  min-height: 48px; width: 400px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #009dff,#fc5aff);
}

#search-bar{
  border-radius: 20px;
  min-height: 48px; width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: #030303;
}


#input-id{
  background: none;
  border: none;
  padding: 8px 24px;
  color: #fff;
  height: 100%;
  font-size: 14px;
}

#input-id:focus{
  border: none;
  outline: none;
}

#input-id::placeholder{
  color: #fff;
}

#add{
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 100%;
  padding: 5px;
  color: #fff;
}

#add:hover{
  background-color: #fff;
  color: #000;
  transition: 400ms all;
  cursor: pointer;
}

#header-home{
  position: absolute;
  top: 0;
  width: 100vw;
  box-shadow: inset 0 -1px 0 0 #333;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#navbar-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.links{
  color: #fff;
  text-decoration: none;
}

#logout{
  background: #fff;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

